body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  height: 120px;
}


#currentDay {
  font-size: 30px;
  margin-top: 3rem;
}

.lead {
  margin-top: 1.5rem;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.form-control{
  border-bottom: none;
}



.input-group {
  height: 80px;
}

.inputCard {
  width: 90px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border: 1px dashed #000000;
}

.past {
  background-color: #b97b7b;
  color: white;
}

.present {
  background-color: #61b8ff;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {

  width: 90px;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
